body HTML {
    width: 100%;
    overflow: hidden;
    touch-action: none;

}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    touch-action:none;


    font-family: sans-serif;
    background-color: black;
}

#flex-page {
    display: flex;
    width: 400vw;
}

#main-page {
    transition: transform 0.3s;
    transform: translateX(0%); /*wwwwwwwwwwwwwwwwwwwwwwwww*/
    width: 100%;
    margin: auto;

}

#name-type {
    margin: 10px;
    text-align: center;
    color: white;
    margin-bottom: 0px;

    font-size: 50px;
}


#pfp {
    border-radius: 50%;
    width: 150px;
    transform: translateY(-50%);
    border: solid 5px rgb(255, 0, 140);
    box-shadow: 0px 0px 10px rgb(255, 1, 141);
    margin-bottom: 20px;

    backdrop-filter: blur(5px);
}

.pfp-div {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.main-menu {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.363);
    border: solid 3px rgba(255, 255, 255, 0.493);
    box-shadow: 0px 0px 20px white;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    width: 300px;
    height: 390px;
    margin: auto;
    margin-top: 90px;
}

.button-case1 {
    display: flex;
    flex-direction: column;
    gap: 10px;

    transform: translatey(-90px);
}

.buttons1 {
    width: 80%;
    height: 60px;
    align-self: center;

    background-color: rgba(255, 1, 141, 0.692);
    box-shadow: 0px 0px 10px rgb(255, 1, 141);
    border: solid 3px rgb(255, 0, 140);

    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    transition: box-shadow 0.3s, border 0.1s, color 0.3s;
}

.buttons1:hover {
    box-shadow: 0px 0px 20px rgb(255, 1, 141);
    border: solid 5px rgb(255, 0, 140);
    color: rgb(255, 1, 144);


}

#discord-page {
    width: 100%;
    transform: translateX(-0%);      /*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/
    transition: transform 0.3s;
}

.head-text {
    text-align: center;
    color: white;
    margin-bottom: 0px;

    font-size: 50px;
}

.translate-up{
    transform: translateY(-80px);
}

#discord-span {
    opacity: 100%;
}

#discord-logo {
    text-align: center;
}

#discord-logo img{
    width: 80%;
}

#button-case1-padding{
    margin-top: 100px;
}

#discord-color-button{
    background-color: rgba(72, 112, 255, 0.692);
    border: solid 3px rgb(72, 112, 255, 0.692);
    box-shadow: 0px 0px 10px rgb(72, 112, 255);
}

#discord-color-button:hover {
    box-shadow: 0px 0px 20px rgb(72, 112, 255);
    border: solid 5px rgb(72, 112, 255);
    color: rgb(72, 112, 255);


}

#twenty-page{
    width: 100%;
    transform: translateX(-200%) translateY(100vh);     /*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/
    transition: transform 0.3s;
    
}

#twenty-span{
    opacity: 100%;
}

#twenty-textinput{
    width: 80%;
    height: 60px;
    margin: auto;

    background-color: rgba(255, 180, 137, 0.692);
    color: white;
    box-shadow: 0px 0px 15px rgb(184, 102, 77);
    border: none;
    font-size: 50px;
    text-align: center;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    transition: box-shadow 0.3s, outline 0.3s, background-color 0.3s;
}

#twenty-textinput:focus {
    box-shadow: 0px 0px 10px rgb(255, 124, 84);
    outline: solid 2px rgb(184, 102, 77);
    background-color: rgba(255, 118, 39, 0.692);
}
#twenty-textinput:hover {
    box-shadow: 0px 0px 10px rgb(255, 124, 84);
    outline: solid 2px rgb(184, 102, 77);
    background-color: rgba(255, 118, 39, 0.692);
}

#twenty-submit{
    background-color: rgba(255, 118, 39, 0.692);
    color: white;
    box-shadow: 0px 0px 10px rgb(255, 124, 84);
    border: 3px solid rgb(255, 124, 84);

    transition: box-shadow 0.3s, outline 0.1s, background-color 0.3s, border 0.1s, color 0.3s;
}
#twenty-submit:hover{
    box-shadow: 0px 0px 25px rgb(184, 102, 77);
    border: 5px solid rgb(255, 124, 84);
    color: rgb(255, 124, 84);
}

#rip-crispy{
    text-align: center;
    opacity: 0;
}

#rip-crispy img{
    width: 110px;
    transform: translateY(-83px);
}

#youtube-page{
    width: 100%;
    transform: translateX(-400%); /*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/
    transition: transform 0.3s;
}

#youtube-span{
    opacity: 1;
}

#youtube-logo {
    text-align: center;
    margin-bottom: 20px;
}

#youtube-logo img{
    width: 80%;
    transform: translateY(-80px);
}

#youtube-button{
    background-color: rgba(255, 0, 0, 0.692);
    color: white;
    box-shadow: 0px 0px 10px rgb(255, 0, 0);
    border: 3px solid rgb(255, 0, 0);

    transition: box-shadow 0.3s, outline 0.1s, background-color 0.3s, border 0.1s, color 0.3s;
}

#youtube-button:hover{
    background-color: rgba(255, 0, 0, 0.692);
    color: rgb(255, 0, 0);
    box-shadow: 0px 0px 20px rgb(255, 0, 0);
    border: 5px solid rgb(255, 0, 0);
}